@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1110px;
  margin: 0 auto;
}




//Tablet version
@media only screen and (max-width:1023px){
  .container{
    max-width: 690px;
    margin: 0 auto;
  }
}


//Mobile version
@media only screen and (max-width:767px){
  .container{
    max-width: 328px;
    margin: 0 auto;
  }
}
